" Plugin dependencies:
" * IdeaVim-easymotion
" * AceJump
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/argtextobj.vim'
Plug 'machakann/vim-highlightedyank'

let mapleader=" "

set ideajoin
set easymotion
set commentary
set argtextobj
set highlightedyank

set showmode
set hlsearch
set incsearch
set ignorecase
set smartcase

let g:argtextobj_pairs="[:],(:),<:>"
map <leader><Esc> :noh<cr>
map ` <Plug>(easymotion-s)
map <leader>r <Action>(RenameElement)
map <leader>d <Action>(GotoDeclaration)
map <leader>u <Action>(FindUsages)
map <leader>f <Action>(FindInPath)
map <leader>i <Action>(ReSharperGotoImplementation)

map <leader>[ <Action>(Back)
map <leader>] <Action>(Forward)
map <leader>, <Action>(PreviousTab)
map <leader>. <Action>(NextTab)

" Code Cleanup
map <leader>c <Action>(ReformatCode)
map <leader><C-c> <Action>(ShowReformatFileDialog)

" Bookmarks (mneuomic: "b")
map <leader>b <Action>(ToggleBookmark)
map <leader><C-b> <Action>(ShowBookmarks)

" Scratch Files (mneunomic: "s")
map <leader><C-s> <Action>(Scratch.ShowFilesPopup)

map <leader>/ :source ~/.ideavimrc<cr>:echo ".ideavimrc reloaded"<cr>
